<div>
		<% if	(theme.imglogo.enable&&theme.imglogo.src){ %>
			<div id="imglogo">
				<a href="<%- config.root %>"><img src="<%- config.root %><%= theme.imglogo.src %>" alt="<%= config.title %>" title="<%= config.title %>"/></a>
			</div>
			<% } %>
			<div id="textlogo">
				<h1 class="site-name"><a href="<%- config.root %>" title="<%= config.title %>"><%= config.title %></a></h1>
				<h2 class="blog-motto"><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2>
			</div>
			<div class="navbar"><a class="navbutton navmobile" href="#" title="<%= __('menu') %>">
			</a></div>
			<nav class="animated">
				<ul>
					<% for (var i in theme.menu){ %>
						<li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
					<% } %>
					<li>
					<% if	(theme.google_cse&&theme.google_cse.enable){ %>
					<form class="search" action="<%- config.root %>search/index.html" method="get" accept-charset="utf-8">
						<label>Search</label>
						<input type="text" id="search" autocomplete="off" name="q" maxlength="20" placeholder="<%= __('search') %>" />
					</form>
					<% } else { %>
						<script type="text/javascript">document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://znsv.baidu.com/customer_search/api/js?sid=13905347214389830836') + '&plate_url=' + (encodeURIComponent(window.location.href)) + '&t=' + (Math.ceil(new Date()/3600000)) + unescape('"%3E%3C/script%3E'));</script>
					<!--<form class="search" action="http://zhannei.baidu.com/cse/search" method="get" accept-charset="utf-8">-->

						<!--<label>Search</label>-->
						<!--<input type="text" id="search" name="q" autocomplete="off" maxlength="20" placeholder="<%= __('search') %>" />-->
						<!--<input type="hidden" name="s" value="13905347214389830836"/>-->
						<!--<input type="hidden" name="entry" value="1"/>-->
						<!--&lt;!&ndash;<input type="hidden" name="q" value="site:<%- config.url.replace(/^https?:\/\//, '') %>">&ndash;&gt;-->
					<!--</form>-->
					<% } %>
					</li>
				</ul>
			</nav>			
</div>
